html {
  background-color: #e2e2e2;
  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transition: all 2s linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  z-index: 1;
  top: 6.9em;
  left: 5em;
}

.polaroid:first-child {
 -webkit-transform: rotate(-15deg);
 z-index: 1;
 left: 20%;
 top: 5.5em;
}

.polaroid:nth-child(2) {
 -webkit-transform: rotate(5deg);
 z-index: 3;
 left: 30%;
 top: 10em;
}

.polaroid:nth-child(3) {
 -webkit-transform: rotate(31deg);
 z-index: 2;
 left: 40%;
 top: 4.5em;
}

.polaroid:hover {
  box-shadow: 1px 10px 25px rgba(0, 0, 0, .8);
  transform: rotate(0);
  z-index: 4;
}
